API_ADRESSE_URL=https://api-adresse.data.gouv.fr
API_GEO_URL=https://geo.api.gouv.fr
API_SECHERESSE_URL=http://localhost:3002/api
APP_ENV=local
DOMAIN_NAME=localhost:3000
DOMAIN_PROD_NOT_ACTIVATED=1

SENTRY_DSN=
SENTRY_ENV=local
SENTRY_TRACES_SAMPLE_RATE=0.1
SENTRY_PROFILES_SAMPLE_RATE=0
SENTRY_SEND_DEFAULT_PII=false

PMTILES_URL=https://regleau.s3.gra.perf.cloud.ovh.net/pmtiles/zones_arretes_en_vigueur.pmtiles
HISTORIC_MAP_MANIFEST_URL=https://regleau.s3.gra.perf.cloud.ovh.net/pmtiles/historic-backfill-manifest.json
S3_VHOST=https://regleau.s3.gra.perf.cloud.ovh.net/
