API_ADRESSE_URL=https://api-adresse.data.gouv.fr
API_GEO_URL=https://geo.api.gouv.fr
API_SECHERESSE_URL=http://localhost:3002/api
APP_ENV=local
DOMAIN_NAME=localhost:3000
DOMAIN_PROD_NOT_ACTIVATED=1
PMTILES_URL=http://127.0.0.1:9000/vigieau/local/carte.pmtiles
S3_VHOST=http://127.0.0.1:9000/vigieau/
