API_ADRESSE_URL=https://api-adresse.data.gouv.fr
API_GEO_URL=https://geo.api.gouv.fr
API_SECHERESSE_URL=http://localhost:3002/api
APP_ENV=local
DOMAIN_NAME=localhost:3000
DOMAIN_PROD_NOT_ACTIVATED=1

SENTRY_DSN=
SENTRY_ENV=local

PMTILES_URL=https://regleau.s3.gra.perf.cloud.ovh.net/pmtiles/zones_arretes_en_vigueur.pmtiles
S3_VHOST=https://regleau.s3.gra.perf.cloud.ovh.net/
