NODE_ENV=local
PORT=3002

SENTRY_DSN=
SENTRY_ENV=local
SENTRY_TRACES_SAMPLE_RATE=0.1
SENTRY_PROFILES_SAMPLE_RATE=0
SENTRY_SEND_DEFAULT_PII=false

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=password
DATABASE_NAME=regleau

JWT_SECRET=secret

BREVO_API_KEY=
EMAIL_NOTIFICATIONS_ENABLED=0
MATTERMOST_WEBHOOK_URL=

WEBSITE_URL=http://localhost:3000

MATOMO_API_KEY=
MATOMO_URL=
MATOMO_ID_SITE=

OLD_MATOMO_URL=
OLD_MATOMO_API_KEY=
OLD_MATOMO_ID_SITE=
