API_URL=http://localhost:3001/api
DOMAIN_NAME=localhost:3003
IS_PROD=0
API_SECHERESSE_URL=http://localhost:3002/api

SENTRY_DSN=
SENTRY_ENV=local
SENTRY_TRACES_SAMPLE_RATE=0.1
SENTRY_PROFILES_SAMPLE_RATE=0
SENTRY_SEND_DEFAULT_PII=false
