NODE_ENV=local
PORT=3001
ADMIN_WRITES_DISABLED=false
ADMIN_WRITES_RETRY_AFTER_SECONDS=3600
DISABLE_SCHEDULED_JOBS=false
RUN_BUSINESS_SCHEDULED_JOBS=false

SENTRY_DSN=
SENTRY_ENV=local
SENTRY_TRACES_SAMPLE_RATE=0.1
SENTRY_PROFILES_SAMPLE_RATE=0
SENTRY_SEND_DEFAULT_PII=false

OAUTH2_CLIENT_PROVIDER_OIDC_ISSUER=
OAUTH2_CLIENT_REGISTRATION_LOGIN_CLIENT_ID=
OAUTH2_CLIENT_REGISTRATION_LOGIN_CLIENT_SECRET=
OAUTH2_CLIENT_REGISTRATION_LOGIN_SCOPE=openid profile email
OAUTH2_CLIENT_REGISTRATION_LOGIN_REDIRECT_URI=http://localhost:3001/api/auth/login/callback

SESSION_SECRET=super+secret+session+key

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=password
DATABASE_NAME=regleau
DEPARTEMENTS_GEOJSON_URL=https://etalab-datasets.geo.data.gouv.fr/contours-administratifs/2023/geojson/departements-5m.geojson

WEBSITE_URL=http://localhost:3000
DOMAIN=localhost

API_SANDRE=https://services.sandre.eaufrance.fr/
SANDRE_ZONE_SYNC_MODE=paused
SANDRE_FORCE_FULL_AUDIT_AFTER=
SANDRE_SYNC_RETENTION_DAYS=90
SANDRE_HEALTH_STALE_AFTER_SECONDS=108000
API_GEO=https://geo.api.gouv.fr
API_DATAGOUV=https://www.data.gouv.fr/api/1/
API_DATAGOUV_KEY=
API_DATAGOUV_DATASET=
API_DATAGOUV_ARRETES_ARCHIVE_YEARS=2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
API_DATAGOUV_COMMUNES_2026_RESOURCE_ID=
API_DATAGOUV_HISTORIQUE_COMMUNES_RESOURCE_ID=
DATAGOUV_MAP_ARCHIVES_ENABLED=false
API_DATAGOUV_GEOJSON_ARCHIVE_RESOURCE_ID=
API_DATAGOUV_PMTILES_ARCHIVE_RESOURCE_ID=
DATAGOUV_HTTP_TIMEOUT_MS=60000
DATAGOUV_RUN_TIMEOUT_MS=1800000

CLOCK_HEARTBEAT_STALE_AFTER_SECONDS=300
CLOCK_HEALTH_CACHE_SECONDS=15
CLOCK_LEADERSHIP_ACQUIRE_TIMEOUT_SECONDS=90
CLOCK_LEADERSHIP_RETRY_SECONDS=2

ZONE_PUBLICATION_ENABLED=false
PUBLIC_SOURCE_REVISION_ENABLED=false
ZONE_PUBLICATION_MIN_READY_INSTANCES=1
ZONE_PUBLICATION_INSTANCE_LEASE_SECONDS=30
ZONE_PUBLICATION_HEALTH_PROGRESS_STALE_AFTER_SECONDS=1800
ZONE_PUBLICATION_CANDIDATE_TIMEOUT_SECONDS=300
ZONE_PUBLICATION_RETRY_BACKOFF_SECONDS=300
ZONE_PUBLICATION_RETRY_MAX_BACKOFF_SECONDS=21600
ZONE_PUBLICATION_ORPHAN_TIMEOUT_SECONDS=4500
ZONE_PUBLICATION_ARTIFACT_TIMEOUT_MS=60000
ZONE_PUBLICATION_PROMOTION_RETRY_SECONDS=300
ZONE_PUBLICATION_S3_TIMEOUT_MS=60000
ZONE_PUBLICATION_DATAGOUV_TIMEOUT_MS=15000
ZONE_PUBLICATION_RETAIN_RETIRED=4
ZONE_PUBLICATION_RETENTION_HOURS=48
ZONE_PUBLICATION_INSTANCE_RETENTION_HOURS=24
HISTORIC_DEPARTMENT_CHECKPOINT_ENABLED=false
HISTORIC_SKIP_COMMUNE_INTERSECTIONS=false
HISTORIC_DEPARTMENT_CONCURRENCY=1
HISTORIC_EMPTY_STATISTICS_RANGE_ENABLED=false
HISTORIC_EMPTY_STATISTICS_RANGE_MAX_DAYS=7
CURRENT_COMMUNE_STATISTICS_LOCK_WAIT_TIMEOUT_MS=600000
STATISTIC_CACHE_ARTIFACT_REQUIRED=false
STATISTIC_CACHE_MIN_READY_INSTANCES=2
STATISTIC_CACHE_INSTANCE_LEASE_SECONDS=30
CURRENT_ZONE_RECOMPUTE_WORKER_ENABLED=false
CURRENT_ZONE_RECOMPUTE_WORKER_PROCESS=false
CURRENT_ZONE_RECOMPUTE_RETRY_BASE_SECONDS=300
CURRENT_ZONE_RECOMPUTE_RETRY_MAX_SECONDS=21600
HISTORIC_CATCHUP_ENABLED=false
DATABASE_POOL_MAX=10
HISTORIC_BACKFILL_ENABLED=false
HISTORIC_BACKFILL_DATABASE_POOL_MAX=3
HISTORIC_BACKFILL_WORKER_CONCURRENCY=1
HISTORIC_BACKFILL_LEASE_SECONDS=1800
HISTORIC_BACKFILL_HEARTBEAT_MILLISECONDS=30000
HISTORIC_BACKFILL_POLL_MILLISECONDS=2000
HISTORIC_BACKFILL_ERROR_POLL_MILLISECONDS=10000
HISTORIC_BACKFILL_MAX_ATTEMPTS=5
HISTORIC_BACKFILL_RETRY_BASE_SECONDS=30
HISTORIC_BACKFILL_RETRY_MAX_SECONDS=1800
HISTORIC_BACKFILL_YIELD_DELAY_SECONDS=15
HISTORIC_BACKFILL_SHADOW_CONCURRENCY=4
HISTORIC_BACKFILL_ARTIFACT_CONCURRENCY=1
HISTORIC_BACKFILL_ARTIFACT_ACL=public-read
HISTORIC_BACKFILL_ARTIFACT_DOWNLOAD_CONCURRENCY=8
HISTORIC_BACKFILL_ARTIFACT_HEAD_CONCURRENCY=16
HISTORIC_BACKFILL_MANIFEST_UPLOAD_TIMEOUT_MS=60000
HISTORIC_BACKFILL_ARTIFACT_CACHE_MAX_BYTES=268435456

S3_REGION=eu-west-3
S3_ENDPOINT=http://127.0.0.1:9000
S3_FORCE_PATH_STYLE=true
S3_PREFIX=local/
S3_BUCKET=vigieau
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_VHOST=http://127.0.0.1:9000/vigieau/

MAIL_USER=vigieau
MAIL_PASSWORD=vigieau
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_TLS_REJECT_UNAUTHORIZED=true
MAIL_TLS_CA=

MAIL_MTE=contact.vigieau@localhost

DOMAIN_NAME=localhost:3003

PATH_TO_WRITE_FILE=.tmp
TIPPECANOE_BIN_DIRECTORY=tippecanoe_program/bin
